:root {
  --background: #EEEAF2;
  --header: #FFF;
  --aside: #1B1439;
  --text-color: #7B5C8D;
  --primary: #54478E;
  --secondary: #42B4B4;
}

* {
  box-sizing: border-box;
}

label {
  display: block;
  margin-bottom: 8px;
}

input {
  background: initial;
  border: initial;
  padding: initial;
}
input:active, input:hover {
  outline: none;
}

.settings {
  z-index: 999;
  position: absolute;
  opacity: 1;
  width: 100vw;
  bottom: -12px;
  left: 50%;
  margin-bottom: 12px;
  background: #fff;
  transform: translate3d(-50%, 140px, 0);
  padding: 30px 15px;
  transition: .3s;
}
.settings .toggle {
  position: absolute;
  top: -34px;
  left: 0;
}
.settings .toggle button {
  padding: 8px 16px;
}
.settings .controls {
  display: flex;
}
.settings .controls .control {
  flex: 1;
  margin-right: 12px;
}
.settings .controls input {
  display: block;
  width: 100%;
}

a {
  color: var(--secondary);
  text-decoration: none;
}

button {
  border: initial;
  border-radius: initial;
  color: #fff;
  cursor: pointer;
}
button.btn {
  padding: 8px 16px;
}
button:active, button:hover {
  outline: none;
}

.primary {
  background: var(--primary);
}

.secondary {
  background: var(--secondary);
}

body {
  font-family: "Inter UI", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-color);
  height: 100vh;
  display: flex;
  overflow: hidden;
}
body.menu-visible .settings {
  transform: translate3d(-50%, 0, 0);
}

#panel {
  flex: 0 0 200px;
  padding: 30px;
  transform: translateX(-200px);
  transition: transform .3s;
}
#panel.is-visible {
  transform: translateX(0);
}

.app {
  flex: 1;
  height: 100vh;
  background: var(--background);
  display: flex;
  transition: blur .3s;
}

main {
  flex: 1;
}

header {
  height: 60px;
  background: var(--header);
  display: flex;
}
header .action-bar {
  margin-left: auto;
}
header .action-bar button {
  background: var(--secondary);
  border: initial;
  display: block;
  height: 100%;
  width: 55px;
  border-radius: initial;
  float: right;
}
header .action-bar button:nth-child(4) {
  opacity: .65;
}
header .action-bar button:nth-child(3) {
  opacity: .75;
}
header .action-bar button:nth-child(2) {
  opacity: .85;
}
header .action-bar button:nth-child(1) {
  opacity: 1;
}

aside {
  flex: 0 0 220px;
  background: var(--aside);
}

h1 {
  margin: initial;
  margin-bottom: 1.2em;
}

.text {
  margin-bottom: 1em;
}

.body {
  padding: 24px;
}

.page-header {
  font-weight: 300;
  font-size: 21px;
}

.widget {
  padding: inherit;
  background: #fff;
  margin-bottom: 12px;
}
.widget-header {
  margin-bottom: inherit;
  font-weight: 700;
}
